@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');

body {
    background-color: #fafafa;
}

/******* HEADER SECTION *******************************************************/

header {
    height: 60px;
    color: #fff;
    background-color: #000;
    border-bottom: solid 1px #c7a500;
}

.home-icon {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 15px;
    color: #c7a500;
   /* color: #ffd600;*/
}

.desktop-nav {
    text-align: right;
}

.menu-list {
    display: inline-block;
    padding-left: 0;
    list-style: none;
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
    padding-top: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.menu-item a {
    color: #fff;
    transition: all .2s ease-in-out;
}

.menu-item a:hover {
    color: #ffd600;
    text-decoration: none;
}

/* Overwriting bootstrap's dropdown-menu and dropdown-item classes */
.dropdown {
    margin-left:auto; 
    margin-right: 15px;
}


.dropdown-menu {
    background: transparent;
    border: transparent;
    min-width: 0;
    left: -50%;
    text-align: right;
}

.dropdown-item {
    padding: 0;
    color: #c7a500;
    font-family:'Lato', sans-serif;
    font-weight: 700;
    line-height: 28px;
}

.dropdown-item:hover {
    padding: 0;
    color: #fafafa;
    background: transparent;
}

.menu-line {
  width: 35px;
  height: 4px;
  background-color: #c7a500;
  margin: 6px 0;
}

.navbar-toggle {
    background-color: #000;
    border: none;
    padding: 0;
}

.navbar-toggle:focus { outline: none; }

/******* HOME PAGE ************************************************************/

.home-top {
    height:540px;
    background-image: url(../images/gym-class-edit2.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

#gym-name {
    text-align: center;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #fafafa;
    text-transform: uppercase;
    animation-name: uplift;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes uplift {
    from {
       transform: translateY(700%);
    }
    
    to {
        transform: translateY(200px);
    }
}


#gym-slogan {
    text-align: center;
    color: #fafafa;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    transform: translateY(210px);
    text-transform: uppercase;
}

.intro-section {
    background-color: #fafafa;
}

#intro-1-wrapper {
    padding-left:20px;
    padding-right:20px;
}

#intro-2-wrapper {
    padding-left:20px;
    padding-right:20px;
}

.intro-1 {
   background-color:#ffd600;
   min-height:360px;
}


.intro-img-1, .intro-img-2 {
    box-sizing: padding-box; 
    height:360px;
    width: 100%;
    filter: grayscale(100%);
}

.intro-img-1 {
    padding-right:10px;
}

.intro-img-2 {
    padding-left:10px;
}

#sign-up-button {
    height: 40px;
    width: 120px;
    border: none;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top:40px;
    background-color: #63a4ff;
    color: #fafafa;
    transition: all .2s ease-in-out;
    font-family:'Lato', sans-serif;
    font-weight: 600;
}

#sign-up-button:hover {
    cursor: pointer;
    background-color: #5e92f3;
}

#intro-heading {
    padding-top: 30px;
    padding-left: 40px;
    text-transform: uppercase;
    padding-right: 20px;
    font-family:'Lato', sans-serif;
    font-weight: 700;
}

#intro-text {
    padding-left: 40px;
    padding-right: 40px;
    font-family:'Lato', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    color: #fafafa;
}

@media(max-width:991px){
#intro-2-wrapper {
        margin-top: 20px;
    }
    
.intro-img-1, .intro-img-2 {
    height:260px;
}    

@keyframes uplift {
    from {
       transform: translateY(700%);
    }
    
    to {
        transform: translateY(100px);
    }
}

#gym-slogan {
    transform: translateY(110px);
}
    
}

/******* CLASSES SCREEN *******************************************************/

.top-section h1 {
    text-align: center;
    color: #fafafa;
    font-size: 60px;
    font-family:'Lato', sans-serif;
    font-weight: 600;
    transform: translateY(200px);
    text-transform: uppercase;
}

.top-section {
    height:540px;
    background-image: url(../images/gym-class-edit2.jpg);
    background-size: cover;
    background-position: center;
}

.classes-wrapper{
    height: 400px;
    width: 280px;
    position: relative;
    margin:0 auto;
}

.classes-img {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.times-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    opacity: 0;
    transition: all .2s ease-in-out;
    top:30px;
    left:0;
}

.schedule-list {
    list-style: none;
    position: absolute;
    transform: translate(25%, 100px);
}

.schedule-item {
    margin-bottom: 1px;
}

.class-day {
    display: inline-block;
    color:#fff;
    background-color:#63a4ff;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
    padding: 5px;
    width: 45px;
    font-weight: 500;
    font-family:'Lato', sans-serif;
}

.class-hour {
    display: inline-block;
    color: #000;
    background-color:#fafafa;
    margin-bottom: 1px;
    padding: 5px;
    font-weight: 500;
    font-family:'Lato', sans-serif;
}

.classes-name {
    height:35px;
    width: 150px;
    background-color: #ffd600;
    color: #fafafa;
    text-align: center;
    position: absolute;
    transform: translate(65px,-45px);
}

.classes-name h6 {
    position: relative;
    transform: translateY(30%);
    font-family:'Lato', sans-serif;
    font-weight: 600;
}

.classes-wrapper {
    margin-bottom: 50px;
}

.classes-wrapper:hover .times-overlay {
    opacity: 1;
    transition: all .2s ease-in-out;
}

/******* PLANS SCREEN ***********/

.plan-wrapper-gold, .plan-wrapper-silver, .plan-wrapper-bronze {
    position: relative;
    height: 500px;
    width:300px;
    border: solid 2px;
    margin: 69px auto 0;
    text-align: center;
}

.plan-wrapper-gold {
    border-color: #c7a500;
}

.plan-wrapper-silver {
    border-color: #9ea7aa;
}

.plan-wrapper-bronze {
    border-color: #cd7f32;
}

.plan-badge-gold, .plan-badge-silver, .plan-badge-bronze {
    position: absolute;
    transform: translate(108px,-40px);
    height: 80px;
    width: 80px;
    border: 2px solid;
    border-radius: 100%;
    text-align: center;
    background-color: #fafafa;
}

.plan-badge-gold {
    border-color: #c7a500;
}

.plan-badge-silver {
    border-color: #9ea7aa;
}

.plan-badge-bronze {
    border-color: #cd7f32;
}

#gold-badge, #silver-badge, #bronze-badge{
    font-size: 35px;
    transform: translateY(50%);
}

#gold-badge {
    color: #c7a500;
}

#silver-badge {
    color: #9ea7aa;
}
#bronze-badge {
    color: #cd7f32;
}

#gold-title, #silver-title, #bronze-title{
    position: relative;
    transform: translateY(50px);
    font-family:'Lato', sans-serif;
}

#gold-title {
    color: #c7a500;
}

#silver-title {
    color: #9ea7aa;
}

#bronze-title {
    color: #cd7f32;
}

.plan-list {
    list-style: none;
    padding: 0;
    position: relative;
    transform: translateY(60px);
}

.plan-list li {
    line-height: 30px;
    font-family:'Lato', sans-serif;
}

#gold-check, #silver-check, #bronze-check {
    margin-left: 5px;
}

#gold-check {
    color: #c7a500;
}

#silver-check {
    color: #9ea7aa;
}

#bronze-check {
    color: #cd7f32;
}

#gold-price, #silver-price, #bronze-price{
    position: absolute;
    left:0;
    right:0;
    bottom: 68px;
    font-size: 20px;
    font-weight: 600;
    font-family:'Lato', sans-serif;
}

#gold-price {
    color: #c7a500;
}

#silver-price {
    color: #9ea7aa;
}

#bronze-price {
    color: #cd7f32;
}

#gold-medal, #silver-medal, #bronze-medal{
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 30px;
    font-size: 40px;
}

#gold-medal {
    color: #c7a500;
}

#silver-medal {
    color: #9ea7aa;
}

#bronze-medal {
    color: #cd7f32;
}


/******* FOOTER SECTION *******************************************************/

footer {
    background-color: #000;
    color: #fff;
    margin-top: 40px;
}

.footer-title {
    padding-top: 15px;
    padding-left: 40px;
    font-family:'Lato', sans-serif;
}

.footer-list {
    margin-bottom: 0;
}

.contact-icon {
    color: #ffd600;
    padding-right: 10px;
    margin-bottom: 10px;
}

.hours-wrapper {
    padding-bottom: 15px;
}

#connect-list {
    margin-bottom: 40px;
}

.connect-item {
    list-style: none;
    display:inline-block;
}

.connect-item img {
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    padding-right: 5px;
}

.hours-wrapper {
    padding-left: 40px;
    margin-bottom: 10px;
}
 .day, .hours{
    display: inline-block;
    font-family:'Lato', sans-serif;
}

.day {
    width: 150px;
    border-right: 1px solid black;
    padding-left: 3px;
}

.contact-item {
    list-style: none;
    font-family:'Lato', sans-serif;
}